@use "_mixins.scss" as *;

$color: #151618;

q,
blockquote{
  position: relative;
  font-style: italic;

  &::before,
  &::after{
     content: '"';
  }
}

h2{
  font-family: 'Cormorant', serif;
  font-size: rem(40);
  text-align: center;
  line-height: 1.2;

  @media (max-width: toEm(400)) {
     font-size: rem(35);
  }

  @media (max-width: toEm(360)) {
     font-size: rem(24);
  }

  &:not(:last-child){
     margin-block-end: rem(65);

     @media (max-width: toEm(1000)) {
        margin-block-end: rem(50);
     }
  }
}

.read-more-link {
   display: flex;
   align-items: center;
   align-self: flex-start;
   column-gap: rem(8);
   font-size: rem(13);

   &::after{
      content: '';
      background: url('../img/blog/arrow-next-icon.svg') 0 0 / 100% no-repeat;
      flex-shrink: 0;
      inline-size: rem(5);
      block-size: rem(10);
   }

   @media (any-hover: hover), (pointer: fine) {
      &:hover {
         text-decoration: underline;
      }
   }
}

.button {
   display: flex;
   justify-self: center;
   border: 1px solid $color;
   font-size: rem(20);
   background-color: #fff;
   padding-inline: rem(41);
   padding-block: rem(12);

   transition: background-color .2s;

   @media (any-hover: hover), (pointer: fine) {
      &:hover {
         background-color: rgba(247, 242, 234, .5);
   }
   }
}

.label{
   font-family: 'Cormorant', serif;
      font-size: rem(24);
      font-weight: 400;
      line-height: 1.2;

      &:not(:last-child){
         margin-block-end: rem(50);
      }

      @media (max-width: toEm(480)) {
         margin-block-end: rem(30);
      }
}

.nav ul{
   display: flex;
   flex-direction: column;
   row-gap: rem(20);

   li a{
      font-size: rem(16);

      @media (any-hover: hover), (pointer: fine) {
         &:hover {
           text-decoration: underline;
         }
      }
   }
}